body {
  color: rgb(8, 8, 8);
}

a {
  text-decoration: none;
}
* {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.center {
  text-align: center;
}

.place {
  margin-top: 40px;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

.border {
  border: 4px dotted black;
  height: 37px;
  width: 300px;
  text-align: center;
}
.border-container {
  display: flex;
  justify-content: center;
}

.description-background {
  background-color: rgb(224, 162, 178);
}

header {
  border: 2px solid black;
  border-radius: 20px;
  background-color: rgb(238, 237, 237);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px 0 10px 0;
}

.place p {
  background-color: white;
}

.knopka {
  border: 1px solid black;
  border-radius: 20px;
  cursor: pointer;
  /*padding: 15px 10px;*/
}

.knopka:hover {
  background-color: rgb(224, 162, 178);
  color: black;
}

.main-dark-mode{
  background-color: rgb(65, 65, 65);
  color: white;
}

.dark-mode{
  background-color: blueviolet;
  color: black;
}

.header-mode {
  background-color: black;
}

.a-dark-mode{
  color: white;
}